body {
    margin: 0;
    padding: 0;
    background-color: #292929;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50rem;
}

nav > a {
    display: block;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .05rem;
    padding-right: 40px;
    padding-bottom: 10px;
}

main {
    position: absolute;
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
    padding: 10px 10px 0px 10px;
}

main > h1 {
    color: #4c4684;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
}